
/*css file to manage appearance of app*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*whole app container, includes map and menu*/
#container {
    position: fixed;
    width: 99%;
    height: 87%;
}

/*map size and position on screen*/
#chartdiv {
    position: absolute;
    width: 74%;
    height: 100%;
    /*z-index: 2;*/
}

/*Tried to include magentic field by creating overlay with contour plot, did not work*/

/*#magnetfield {*/
/*    position: absolute;*/
/*    width: 74%;*/
/*    height: 100%;*/
/*    z-index: 3;*/
/*    opacity: 0.5;*/
/*}*/


/*Menu appearance*/
#menu {
    position: absolute;
    right: 0%;
    border:1px solid #808080;
    padding: 20px;
    width: 23%;
}

#menu .item {
    margin-bottom: 20px;
}

#menu .item input {
    width: 45px;
}

#menu select {
    margin-top: 4px;
}

#menu .item .value {
    font-weight: bold;
}

#menu .item span, #menu .item input {
    vertical-align: middle;
}

#menu .item .low {
    display: inline-block;
    width: 30px;
    text-align: right;
}


/*Tab appearance*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s;
}
/*create fadinig animation effect*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


